  <!-------------- Table ----------------->
<div class="container-fluid">
    <div class="tablecard small col-md-12">
        <table id="myTable" class="table table table-striped table-bordered small">
            <thead>
                <tr class="font-weight-bold text-center">
                    <td>Type</td>
                    <td>Transaction</td>
                    <td>Transaction Date</td>
                    <td>Supplier Name</td>
                    <td>On Account</td>
                    <td>As</td>
                    <td>For</td>
                    <td>Through</td>

                </tr>
            </thead>
        </table>
    </div>
</div>
